html,body{
	width:100%;
	margin: 0 auto;
}

.sidebar{
	float: left;
	width: 20%;
	border-right: 1px solid black;

}

ul.sidebars{

	width:20%;
	margin: 20px 10px 0 10px;
	border: 3px solid black;
	border-radius: 10px;
	background: linear-gradient(to bottom right, aqua,white);

}

ul.sidebars li{

	margin:7px auto;
	text-align:left;
}

ul.sidebars li:nth-child(3){
	margin:7px 7px;
	font-size:18px;
	list-style: none;
}

ul.sidebars li a{
	text-decoration: none;
}

div.sub_r{
	position: flex;
	float:left;
	width:70%;
	padding-left:20px;
	border-left: 2px solid black;
	height:100%;
	min-height:100vh;
	list-style: none;

}

h2.subject{
	width:100%;
	padding:10px 20px;
	background-color:yellow;
	border: 2px solid blue;
	border-radius: 20px;
}

.sub_chart{
	width:100vh;
	margin:0 auto;
	font-size: 20px;
}

table{
	border:3px solid black;
	background-color: lightgreen;
}

table th{
	border:1px solid black;
	background-color:white;
}

table td{
	border:1px solid black;
	background-color: lightblue;
}



